body {
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

.light-mode {
  background-color: #fff;
  color: #000;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
}

#quiz-container {
  text-align: center;
  margin: 50px;
}

#image-container img {
  max-width: 100%;
  max-height: 300px;
  margin-top: 20px;
}

#answer:disabled {
  background-color: #ddd;
}

.dark-mode-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
